Version 11.3/Release19/AxpertARM/ARMAPI/wwwroot/js/jquery.timeentry.package/jquery.timeentry-sk.js filter=lfs diff=lfs merge=lfs -text
Version 11.3/Release19/AxpertARM/ARMAPI/wwwroot/js/thirdparty/excelImport/xlsx.full.min.js filter=lfs diff=lfs merge=lfs -text
Version 11.3/Release19/AxpertARM/ARMAPI/wwwroot/ThirdParty/DataTables-1.10.13/media/js/dataTables.foundation.js filter=lfs diff=lfs merge=lfs -text